.header {
  padding: 1em;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
}

.header * {
  margin-left: 1em;
  margin-right: 1em;
}

.flex-end {
  align-self: flex-end;
}