/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-size: 14px;
}

#notice, #alert {
    font-size: 18px;
}

#alert {
    color: red;
    font-size: 16px;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.horizontal-section {
    display: flex;
    flex-direction: row;
}

.button-link {
    padding: .5em .8em .5em .8em;
    background-color: lightblue;
    color: black;
    border-radius: 30px;
    font-size: 16px;
}

.large {
    width: 800px;
}

.flex {
    display: flex;
}

.flex-end {
    align-self: flex-end;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.actions * {
    margin-left: 1em;
}
