.article-preview {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1em;
  padding: 1em;
}

.article-preview .show {
  font-size: 16px;
  margin: 1em;
}

.created-at, .updated-at {
  font-size: 16px;
}

.new-article-content {
  width: 600px;
  height: 200px;
}

.article {
  border: 1px solid black;
  padding: 2em;
}

.article .title {
  font-size: 22px;
}

.article .content {
  padding: 1em;
  font-size: 16px;
}

.article .author {
  margin-top: 4em;
}