html, 
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}

#main {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 2em 4em 2em 4em;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border: 3px solid black;
}

.card .content {
    margin-bottom: 2em;
}

.card .footer {
    margin-top: auto;
}

@media (max-width: 1024px) {
    #main {
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;
    }
}
