<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Articles list</h1>
<section class="actions">
  <p>Sort by:</p>
  <%= select_tag "author",
                 options_for_select(sorting_options, @selected_sort),
                 id: 'select-sorting' %>
  <p>Author:</p>
  <%= select_tag "author",
                 options_from_collection_for_select(User.all, 'id', 'full_name', @selected_user&.id),
                 include_blank: 'All',
                 id: 'select-author' %>
</section>

<section class="actions">
  <%= link_to 'New Article', new_article_path, class: %w[button-link flex-end] %>
</section>

<br>

<section class="large">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <%= render 'layouts/article_preview', article: article %>
    <% end %>
  <% else %>
    <h3><%= no_articles_message %></h3>
  <% end %>
</section>
