<div class="article-preview">
  <h2 class="title"><%= article.title %></h2>
  <h4 class="author">Author: <strong><%= "#{article.user.full_name}" %></strong></h4>
  <div class="created-at flex-end">Created: <strong><%= article.created_at.strftime("%F") %></strong></div>
  <div class="updated-at flex-end">Last modified at: <strong><%= article.updated_at.strftime("%F") %></strong></div>
  <div class="show flex-end">
    <%= link_to 'Read', article, class: 'button-link' %>
  </div>
</div>