<h1>Article detail</h1>
<br>
<section class="article large">
  <h1 class="title centered"><%= article.title %></h1>
  <p class="content"><%= article.content %></p>
  <div class="author">Author: <%= article.user.full_name %></div>
  <% if current_user == article.user %>
    <div class="actions">
      <%= link_to 'Edit', edit_article_path(article), class: 'button-link' %>
      <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-link' %>
    </div>
  <% end %>
</section>