<section class="header">
  <%= link_to 'Home', root_path %>

  <div class="flex-end">
    <% if logged_in? %>
      Logged in as <%= "#{current_user.name} #{current_user.surname}" %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Signup', new_user_path %>
    <% end %>
  </div>
</section>