<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag login_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br>
  <div class=”actions”>
    <%= submit_tag 'Login' %>
  </div>
<% end %>